/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
/* VARIABLES CSS */

:root {
    --header-height: 3.5rem;
    /*56px*/
    /* ===== Colors ===== */
    /* Color mode HSL(hue,saturation,lightness) */
    --primary-color-hue: 352;
    --dark-color-lightness: 17%;
    --light-color-lightness: 92%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));

    /* Font and typography */
    /* .5rem = 8px , 1rem = 16px  */
    --body-font: 'Marhey', cursive;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* Font Weight */
    --font-medium: 400;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    /* Card Padding */
    --card-padding: 1.9rem 0.95rem;

    /* Border redius */
    --border-redius: 1.25rem;

    /* Box shadow */
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/*  Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.7;
    font-weight: var(--font-medium);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

h1, h2, h3 {
    font-weight: var(--font-semi-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

/* ======== layout ======== */
.container {
    max-width: 968px;
    /* height: auto; */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ======== end layout ======== */
/* ======== Reusable css classes ======== */
.section .container {
    padding-top: 4.75rem;
    padding-bottom: 3rem;
}

.section-title {
    font-size: var(--h1-font-size);
    margin-right: var(--m-0-75);
    margin-top: var(--m-2-5);
    margin-bottom: var(--m-2-5);
}

/* .padd-15 {
    padding-left: 15px;
    padding-right: 15px;
} */

/* ======== end Reusable css classes ======== */

/* button */
.btn {
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: var(--border-redius);
}

.btn:focus {
    outline: 0;
}

@keyframes button-push {
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.btn-header{
    width: 100%;
    height: 15px;
}

.btn-default {
    color: white;
    vertical-align: middle;
    display: inline-block;
    background-color: var(--color-primary);
    transform: perspective(1px) translateZ(0);
    /* margin-bottom: 5; */
}

.btn-default:hover {
    animation-name: button-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

/* ==== header ===== */
.header {
    width: 100%;
    background-color: var(--color-light);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

/* === NAV ===  */
.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav-logo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: 0.125rem;
    position: relative;
}

.nav-logo::after {
    position: absolute;
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    top: 56%;
    left: -0.6rem;
}

.nav-menu {
    margin-right: auto;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link {
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav-link:hover {
    color: var(--color-primary);
}

.nav-close {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    cursor: pointer;
}

.nav-btn {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    color: var(--color-primary);
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-close,
.nav-toggle {
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.active-link {
    position: relative;
}

.active-link::before {
    position: absolute;
    content: '';
    bottom: -0.30rem;
    right: 45%;
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.scroll-header {
    box-shadow: 0 1px 4px rgba(165, 125, 125, 0.271);
}

/* End Nav */

/* ======== Home ======== */
.home {
  flex: 0 0 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home .intro {
    max-width: 540px;
    text-align: center;
}

.home .intro img {
    margin-bottom: var(--m-1);
    width: 150px;
    border-radius: 50%;
}

.home .intro .social-icons {
    margin-top: var(--m-1-5);
    margin-bottom: var(--m-1);
}

.home .intro .social-icons li {
    display: inline-block;
}

.home .intro .social-icons li:not(:last-child) {
    margin-left: var(--m-1-5);
}

.home .intro .social-icons a {
    font-size: var(--h3-font-size);
}

/* ===== mouse scroll */
.scroll-down {
    position: absolute;
    bottom: var(--m-2-5);
    left: 0;
    width: 100%;
}

.mouse-wrapper {
    font-size: var(--small-font-size);
    display: block;
    margin: auto;
    max-width: 120px;
    text-align: center;
}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 15%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

.mouse {
    border: 2px solid var(--color-dark);
    display: block;
    height: 1.75rem;
    width: 1.2rem;
    margin: auto;
    margin-top: var(--m-0-75);
    border-radius: var(--border-redius);
    position: relative;
}

.mouse .wheel {
    background-color: var(--color-dark);
    border-radius: 50%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: var(--m-0-5);
    left: 40%;
    display: block;
    animation: ani-mouse 2s linear infinite;
}

/* ======== end Home ======== */
/* ========  About ======== */
.about-img {
    flex: 0 0 25%;
    max-width: 25%;
}

.about-img img {
    border-radius: var(--border-redius);
}

.about-content {
    flex: 0 0 75%;
    max-width: 75%;
}

.about-content .about-text,
.about-content .skills {
    flex: 0 0 50%;
    max-width: 50%;
}

.rounded {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-redius);
}

.about-text p {
    text-align: justify;
    margin-bottom: var(--m-2);
}

.about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content .skills .skill-item h4 {
    margin-bottom: var(--m-0-75);
}

.about-content .skills .skill-item .progress {
    background-color: var(--color-light);
    height: 0.45rem;
    border-radius: var(--border-redius);
    width: 100%;
    position: relative;
}

.about-content .skills .skill-item:not(:last-child) {
    margin-bottom: var(--m-1-5);
}

.about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: var(--border-redius);
}

.about-content .skills .skill-item .skill-percent {
    position: absolute;
    left: 0;
    top: -2.25rem;
}

.fact-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: var(--m-2-5);
    text-align: center;
}

.fact-item i {
    font-size: var(--h2-font-size);
    color: var(--color-gray);
}

/* ======== end About ======== */

/* ======== service ========  */
.services .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex;
    margin: auto;
}

.services .service-item .service-item-inner {
    border-radius: var(--border-redius);
    padding: var(--card-padding);
    text-align: center;
    transform: translateY(0);
    transition: 0.3s;
}

.services .service-item .service-item-inner:hover {
    transform: translateY(-0.625rem);
}

.services .service-item img {
    /* width: 100px; */
    margin-bottom: var(--m-0-75);
}

.services .service-item h3, .services .service-item p {
    margin-bottom: var(--m-0-75);

    color: white;
}

/* ======== protfolio ========  */
.protfolio .protfolio-filter {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.protfolio .protfolio-filter button {
    border: none;
    background-color: transparent;
    font-weight: var(--font-semi-bold);
    margin: 0 var(--m-1-5);
    cursor: pointer;
    white-space: nowrap;
    color: var(--color-dark);
    transition: 0.3s;
}

.protfolio .protfolio-filter button.active {
    color: var(--color-primary);
    position: relative;
}

.protfolio .protfolio-filter button.active::before {
    content: '';
    position: absolute;
    bottom: -0.35rem;
    right: 45%;
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.protfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: var(--m-1-5);
}

.protfolio-item.hide {
    display: none;
}

.protfolio-item.show {
    display: block;
    animation: showItem 0.5s ease;
}

@keyframes showItem {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.protfolio-item-inner {
    position: relative;
    overflow: hidden;
}

.protfolio-item .mask {
    background: rgba(0, 0, 0, .9);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    border-radius: var(--border-redius);
}

.protfolio-item-thumbnail img {
    border-radius: var(--border-redius);
}

.protfolio-item-inner:hover .mask {
    opacity: 0.9;
}

.protfolio-item .term {
    color: white;
    background-color: var(--color-primary);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    right: var(--m-1-5);
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: 0.3s;
}

.protfolio-item h3 {
    color: white;
    font-size: 1.25rem;
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transition: 0.3s;
    transform: translateY(30px);
    opacity: 0;
}

.protfolio-item .more-button {
    color: white;
    position: absolute;
    bottom: var(--m-1-5);
    right: var(--m-1-5);
    font-size: 1.6rem;
    display: block;
    background: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    transition: 0.3s;
    opacity: 0;
}

.protfolio-item-inner:hover h3, .protfolio-item-inner:hover span {
    opacity: 1;
    transform: translateY(0);
}

/* contact */
.contact-box {
    flex: 0 0 40%;
    max-width: 40%;
}

.contact-form {
    flex: 0 0 60%;
    max-width: 60%;
}

.contact-data {
    display: grid;
    row-gap: 1.5rem;
}

.contact-subtitle {
    margin-bottom: var(--m-1);
}

.contact-description {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.contact-icon {
    font-size: 2rem;
}

.contact-text {
    font-size: 1.3rem;
    margin-right: 10px;
}

.contact-inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--m-1);
}

.contact-content {
    position: relative;
    height: 3rem;
    border-bottom: 2px solid var(--color-gray);
}

.contact-content span {
    position: absolute;
    bottom: -2px;
    right: 0;
    content: '';
    height: 2px;
    width: 0;
    transition: .5s;
    background: var(--color-white);
}

.contact-input:focus~span {
    width: 100%;
}

.contact-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: #fff;
    outline: none;
    border: none;
    z-index: 1;
}

.contact-label {
    position: absolute;
    top: .40rem;
    width: 100%;
    font-size: var(--small-font-size);
    transition: 0.3s;
}

.contact-area {
    height: 7rem;
}

.contact-area textarea {
    resize: none;
}

.contact-input:focus+.contact-label {
    top: -1.5rem;
    right: 0;
    z-index: 10;
    color: var(--color-primary);
}

/* end contact */
/*  footer */
.footer {
    padding: 40px 0;
}

.footer-text {
    text-align: center;
}

/* end footer */
/* === theme customize ===  */
.customize-theme {
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: var(--small-font-size);
    display: none;
}

.customize-theme .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-redius);
    width: 40%;
    max-width: 600px;
}

.customize-theme .font-size {
    margin-top: var(--m-2-5);
}

.customize-theme .font-size>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    border-radius: var(--border-redius);
    padding: .6rem 1rem;
}

.customize-theme .choose-size {
    background: hsl(252, 100%, 90%);
    height: 0.35rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: hsl(252, 100%, 90%);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active {
    background: var(--color-primary);
}

.customize-theme .color {
    margin-top: var(--m-2);
}

.customize-theme .choose-color {
    background: var(--color-light);
    border-radius: var(--border-redius);
    padding: .6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-color span {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: var(--color-primary);

}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
    border: 5px solid white;
}

.customize-theme .background {
    margin-top: var(--m-2);
}

.customize-theme .choose-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.customize-theme .choose-bg>div {
    padding: 0.8rem 0.20rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-theme .choose-bg>div.active {
    border: 3.4px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
    background: hsl(252, 30%, 92%);
    color: hsl(252, 30%, 17%);
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 17%);
    color: white;
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg>div span {
    width: 1.4rem;
    height: 1.4rem;
    border: 3px solid var(--color-gray);
    border-radius: 50%;
    /* background-color: blue; */
}

/* === end theme customize ===  */













/* respo */
@media screen and (max-width:1200px) {
    .customize-theme .card {
        width: 50vw;
    }
}

@media screen and (max-width:992px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    }
}

@media screen and (max-width:968px) {
    .about-content,
    .about-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-img {
        text-align: center;
        margin-bottom: var(--m-2-5);
    }

    .about-img img {
        width: 400px;
    }

    .rounded {
        margin-top: 0;
        margin-right: 0;
    }

    .services .service-item {
        flex: 0 0 40%;
        max-width: 40%;
        margin-bottom: var(--m-2-5);
        margin: auto;
    }

    .customize-theme .card {
        width: 75vw;
    }

    /* .btn-default{
        margin-bottom: 50px;
    } */
}

@media screen and (max-width:840px) {
    body {
        margin: var(--header-height) 0 0 0;
    }

    .container {
        max-width: 591px;
    }
    /* .home {
        height: 80vh;
        } */
    .nav {
        height: var(--header-height);
    }

    .nav-list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav-menu {
        position: fixed;
        background: var(--color-white);
        width: 88%;
        height: 100%;
        top: 0;
        left: 100%;
        padding: 4rem 3rem 0 0;
        box-shadow: 2px 0 4px var(--color-dark);
        border-radius: 1rem 1rem;
        z-index: 100;
        transition: .3s;
    }

    /* show menu */
    .show-menu {
        left: 0;
    }

    .nav-close, .nav-toggle {
        display: inline-flex;
    }
    .contact-data, .contact-form {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: var(--m-2);
    }

    .services .service-item {
        flex: 0 0 100%;
        max-width: 100%;
        /* margin-bottom: var(--m-2-5); */
        margin: auto;
    }

    .protfolio-item h3 {
        font-size: 1.25rem;
        margin: 0 0 0.58rem;
        padding: 0 1rem;
        text-align: center;
        /* flex-flow: wrap; */
    }

    .protfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .service-item .service-item-inner {
        margin: 15px;
        width: 100%;
    }

}

@media screen and (max-width:576px) {
    .protfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .protfolio-item-inner {
        max-width: 380px;
        margin: auto;
    }

    .customize-theme .card {
        width: 96vw;
    }

    /* .btn-default{
        margin-bottom: 150px;
    } */
    .about-content .about-text,
    .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .services .service-item {
        flex: 0 0 100%;
        max-width: 100%;
        /* margin-bottom: var(--m-2-5); */
        margin: auto;
    }

    .service-item .service-item-inner {
        margin: 15px;
        width: 100%;
    }

    .protfolio .protfolio-filter button {
        margin: 0 var(--m-1);
    }

    .footer {
        padding: 20px 0;
    }
    /* .btn-header{
        height: 170px;
    } */
}
@media screen and (max-width:340px) {   
    body{
        background-color: red;
    }
      .home .intro img {
        /* margin-top: 4rem; */
          margin-bottom: var(--m-2-5);
          width: 100px;
          border-radius: 30%;
      }
      .home .intro h1 {
        margin-bottom: var(--m-0-5);
        font-size: var(--font-medium);
        }
        .home .intro .social-icons {
            margin-top: var(--m-0-5);
            margin-bottom: var(--m-0-5);
        }
        .btn-header{
            padding-bottom: 40px;
        }
}